<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head.html') %>
        <title>
            <%= title %>
        </title>
</head>

<body>

    <%- include('partials/navigation.html') %>

        <!--FIRST PARAGRAPH-->

        <div class="container-fluid py-5 my-5">
            <section class="row">
                <div class="col-md-1"></div>
                <div class="col-md-5">
                    <h1 class="py-4">Hi, I'm Stéfano </h1>
                    <p class="mainParagraph">A passionate 👨🏻‍💻 IT Technician. Since I
                        discovered my passion for technology, especially troubleshooting – with a mixture of an ♟️ analytical, and at
                        the same time, creative mindset – I've always been learning 💻 new technologies and trying to
                        🔑 master the ones I know.</p>
                    <div class="redes">
                        <span class="github icon-button"><a href="https://github.com/Tefor" target="_blank"><i
                                    class="fab fa-github fa-4x"></i></a></span>
                        <span class="linkedin icon-button"><a
                                href="https://www.linkedin.com/in/st%C3%A9fano-gentile-07a49613b/" target="_blank"><i
                                    class="fab fa-linkedin fa-4x"></i></a></span>
                        <span class="google icon-button"><a href="mailto:gentilestefano4@gmail.com" target="_blank"><i
                                    class="fab fa-google fa-4x"></i></a></span>
                    </div>
                    <div class="botones py-5">
                        <a class="btn btn-primary py-3 px-3 me-5" href="/#contact">CONTACT ME</a>
                        <a class="btn btn-primary py-3 px-3" href="https://drive.google.com/file/d/1Fa9LnL2cEKRLvZ41i7Ng_L005xfn-GcR/view" target="_blank">SEE MY RESUME</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <lottie-player class="lplayer" src="https://assets6.lottiefiles.com/packages/lf20_bp5lntrf.json"
                        background="transparent" speed="1" loop autoplay>
                    </lottie-player>
                </div>
            </section>
        </div>

        <!--SECOND PARAGRAPH-->

        

        <div class="aparece container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <lottie-player class="lplayer" src="https://assets3.lottiefiles.com/packages/lf20_w51pcehl.json"
                        background="transparent" speed="1" loop autoplay></lottie-player>
                </div>
                <div class="col-md-8">
                    <div class="container">
                        <h1 id="skills">What can I offer?</h1>
                        <h3 class="pt-5 pb-2"><img class="skills-img" src="/img/softskills.png">Soft Skills:</h3>
                        <p class="secondParagraph">☑️ Effective Communication

                            ☑️ Self-Motivation

                            ☑️ Self-Discipline

                            ☑️ Accepting Feedback

                            ☑️ Public Speaking 
                            <br> 

                            ☑️ Teamwork

                            ☑️ Problem Solving Skills

                            ☑️ Work Pressure Management

                            ☑️ Servant Leadership
                            <br> 

                            ☑️ Emotional Intelligence
                        </p>
                    </div>

                    <div class="container">
                        <h3 class="pt-5 pb-2"><img class="skills-img" src="/img/techskills.png">Technical Skills:</h3>
                        <ul class="dev-icons">
                            <li>
                                <span><img height="80" width="80"src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/virtualbox.svg"class="filter-white"></span>
                                <p>Virtual Box</p>
                            </li>
                            <li>
                                <span><img height="80" width="80" src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/anydesk.svg" class="filter-white"></span>
                                <p>AnyDesk</p>
                            </li>
                            <li>
                                <span><img height="80" width="80"src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/teamviewer.svg" class="filter-white"></span>
                                <p>TeamViewer</p>
                            </li>
                            <li>
                                <span><img height="80" width="80" src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/linux.svg" class="filter-white"></span>
                                <p>Linux</p>
                            </li>
                            <li>
                                <span><img height="80" width="80" src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/gnubash.svg" class="filter-white"></span>
                                <p>GNU Bash</p>
                            </li>
                            <li>
                                <span><img height="80" width="80"src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/powershell.svg" class="filter-white"></span>
                                <p>PowerShell</p>
                            </li>
                            <li>
                                <span><img height="80" width="80" src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/microsoftoffice.svg" class="filter-white"></span>
                                <p>Office 360</p>
                            </li>
                            <li>
                                <span><img height="80" width="80" src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/windows.svg"class="filter-white"></span>
                                <p>Windows</p>
                            </li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--EDUCATION PARAGRAPH-->
    
        <div class="aparece container-fluid py-5 my-5">
            <section class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <h1 id="education" class="py-4">Education</h1>
                    <h3 class="otherParagraph"><img class="education-img" src="/img/google.png"> Google IT Professional
                        Certificate</h3>
                    <h4 class="otherParagraph">January 2021 - May 2021</h4>
                    <p class="thirdParagraph">The Google IT Support Professional Certificate helped give me the
                        confidence to apply for IT roles. I don't have the traditional instructional background in the
                        field but my hands-on learning and what I've gained from the Google program propelled me
                        forward.</p>

                    <h3 class="pt-5 otherParagraph"><img class="education-img" src="/img/reading.png"> Self-taught</h3>
                    <h4 class="pt-4 otherParagraph">June 2015 - Forever Learning</h4>
                    <p class="thirdParagraph">To work with others is super, but I learned some of the greatest lessons
                        of my life at my own pace. I gained most of my knowledge and experience from:</p>
                    <ul>
                        <li>A lot of practice</li>
                        <li>Developing my own projects</li>
                        <li>freeCodeCamp</li>
                        <li>Udemy</li>
                        <li>Coursera</li>
                        <li>Reading official documentation</li>
                        <li>YouTube Channels</li>
                    </ul>
                </div>
            </section>
        </div>

        <!--WORK EXPERIENCE-->

        <div class="aparece container-fluid py-5 my-5">
            <section class="row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <h1 id="work-experience" class="py-5">Work Experience</h1>
                    <h3 class="otherParagraph">Moderator<img class="education-img acamica-img ms-4"
                            src="/img/acamica.png"></h3>
                    <h4 class="otherParagraph">February 2016 - April 2018</h4>
                    <p class="thirdParagraph">
                        Volunteer work as a moderator in charge of maintaining order and providing support to
                        users in different sections of the platform, while gaining experience in web development.
                    </p>
                    <h3 class="pt-5 otherParagraph">Help Desk IT Support<img class="education-img sonda-img ms-4"
                            src="/img/sonda.png"></h3>
                    <h4 class="otherParagraph">April 2018 - March 2019</h4>
                    <p class="thirdParagraph">
                        Temporary work developed in a team generating solutions for the user, assisting physically and remotely through ticketing system, covering Software and Hardware with the aim of migrating the Office version to the current 365 and upgrading obsolete hardware and operating systems.
                </div>
            </section>
        </div>

        <!--PROJECTS PARAGRAPH-->

        <!-- <div class="container-fluid py-5 my-5">
            <section class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <h1 id="my-projects" class="py-4">My Projects</h1>    
                    <p class="thirdParagraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex illo eaque quasi aliquam illum commodi repellendus sint eligendi magni nemo molestias autem earum dolores dignissimos veniam error, atque, enim ipsum?</p>
                </div>
            </section>
        </div> -->

        <!--CONTACT ME PARAGRAPH-->

        <div class="aparece container-fluid py-5 my-5">
            <section class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <h1 id="contact">Contact Me!</h1>
                    <p class="mainParagraph">Have a job opportunity or just want to say hi? Let's 🤙 talk a little
                        bit...
                        gentilestefano4@gmail.com</p>
                    <div class="redes">
                        <span class="github icon-button"><a href="https://github.com/Tefor" target="_blank"><i
                                    class="fab fa-github fa-4x"></i></a></span>
                        <span class="linkedin icon-button"><a
                                href="https://www.linkedin.com/in/st%C3%A9fano-gentile-07a49613b/" target="_blank"><i
                                    class="fab fa-linkedin fa-4x"></i></a></span>
                        <span class="google icon-button"><a href="mailto:gentilestefano4@gmail.com" target="_blank"><i
                                    class="fab fa-google fa-4x"></i></a></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <lottie-player class="contact" src="https://assets4.lottiefiles.com/packages/lf20_eBcQGa.json"
                        background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay>
                    </lottie-player>
                </div>
                <div class="col-md-4">
                </div>  
            </section>
        </div>

        <%- include('partials/footer.html') %>

</body>

</html>