<footer class="bg-dark text-center p-2">
    <p class="h3 text-light">Awesome Portfolio #2021 &copy;</p>
</footer>

<!--BOOTSTRAP-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<!--LOTTIE LIBRARY-->
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<!--SCROLL REVEAL-->
<script src="https://unpkg.com/scrollreveal"></script>
<script>
ScrollReveal().reveal('.aparece'), {delay: 500};
</script>

